n8n/workflow.json
{
  "name": "AI Content Engine - Generate Posts",
  "nodes": [
    {
      "id": "node-001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "ai-content-engine-webhook",
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-content",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "node-002",
      "name": "Fetch Client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.joat.studio/clients/' + $json.body.client_id }}",
        "options": {}
      }
    },
    {
      "id": "node-003",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const client = $input.first().json;\n\nconst colors = Array.isArray(client.brand_colors)\n  ? client.brand_colors.slice(0, 10).join(', ')\n  : (client.brand_colors || 'brand-appropriate colors');\n\nconst services = Array.isArray(client.services)\n  ? client.services.join(', ')\n  : (client.services || '');\n\nconst locationLine = client.location ? `Location: ${client.location}` : '';\n\nconst systemPrompt = `You are an expert viral social media content creator. Generate highly engaging, platform-optimised posts. Respond with valid JSON only — no markdown, no code blocks.`;\n\nconst userPrompt = `Create 5 viral social media posts for this brand:\\n\\nBrand: ${client.name}\\nIndustry: ${client.industry || 'General'}\\nTone: ${client.tone_of_voice || 'Professional'}\\nServices: ${services}\\nAudience: ${client.target_audience || 'General public'}\\n${locationLine}\\nImage Style: ${client.image_style || 'Photorealistic professional photography'}\\nBrand Colors: ${colors}\\n\\nReturn ONLY a JSON object with this structure:\\n{\\n  \"posts\": [\\n    {\\n      \"hook\": \"viral opening line under 10 words\",\\n      \"caption\": \"engaging caption 150-300 chars\",\\n      \"call_to_action\": \"clear compelling CTA\",\\n      \"hashtags\": [\"tag1\", \"tag2\", \"tag3\", \"tag4\", \"tag5\"],\\n      \"image_prompt\": \"detailed prompt: subject, environment, lighting, camera angle, photorealistic, brand colors: ${colors}\",\\n      \"emotional_trigger\": \"fear|joy|curiosity|urgency|trust\",\\n      \"content_type\": \"educational|promotional|engagement|storytelling\"\\n    }\\n  ]\\n}`;\n\nreturn [{ json: { client_id: client.id, client, systemPrompt, userPrompt } }];"
      }
    },
    {
      "id": "node-004",
      "name": "Generate Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 300],
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer PASTE_YOUR_OPENROUTER_KEY_HERE" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "HTTP-Referer",  "value": "https://joat.studio" },
            { "name": "X-Title",       "value": "AI Content Engine" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'anthropic/claude-3-5-haiku', messages: [{role: 'system', content: $json.systemPrompt}, {role: 'user', content: $json.userPrompt}], response_format: {type: 'json_object'}, temperature: 0.8 }) }}",
        "options": {}
      }
    },
    {
      "id": "node-005",
      "name": "Parse Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const response = $input.first().json;\nconst clientId = $('Build Prompt').first().json.client_id;\n\nlet content;\ntry {\n  content = response.choices[0].message.content;\n} catch(e) {\n  throw new Error('Invalid OpenRouter response: ' + JSON.stringify(response).substring(0, 300));\n}\n\nlet parsed;\ntry {\n  const cleaned = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  throw new Error('Failed to parse JSON from Claude: ' + content.substring(0, 500));\n}\n\nconst posts = parsed.posts || [];\nif (!posts.length) throw new Error('No posts returned from Claude');\n\nreturn [{ json: { client_id: clientId, posts } }];"
      }
    },
    {
      "id": "node-006",
      "name": "Generate Images",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const { client_id, posts } = $input.first().json;\nconst apiKey = 'PASTE_YOUR_OPENROUTER_KEY_HERE';\nconst imageModel = 'google/gemini-2.5-flash-image';\nconst PLACEHOLDER = 'https://placehold.co/1024x1024/1a1a2e/ffffff.png';\n\nasync function generateImage(prompt) {\n  try {\n    const res = await fetch('https://openrouter.ai/api/v1/chat/completions', {\n      method: 'POST',\n      headers: {\n        'Authorization': `Bearer ${apiKey}`,\n        'Content-Type': 'application/json',\n        'HTTP-Referer': 'https://joat.studio',\n        'X-Title': 'AI Content Engine'\n      },\n      body: JSON.stringify({\n        model: imageModel,\n        messages: [{ role: 'user', content: prompt }]\n      })\n    });\n    if (!res.ok) return null;\n    const data = await res.json();\n    const msg = data.choices?.[0]?.message;\n    if (!msg) return null;\n    if (msg.images?.[0]?.image_url?.url) return msg.images[0].image_url.url;\n    if (Array.isArray(msg.content)) {\n      for (const block of msg.content) {\n        if (block.type === 'image_url' && block.image_url?.url) return block.image_url.url;\n      }\n    }\n    return null;\n  } catch(e) {\n    console.log('Image gen failed:', e.message);\n    return null;\n  }\n}\n\nconst processed = [];\nfor (const post of posts) {\n  const imageUrl = await generateImage(post.image_prompt);\n  processed.push({ ...post, image_url: imageUrl || PLACEHOLDER });\n}\n\nreturn [{ json: { client_id, posts: processed } }];"
      }
    },
    {
      "id": "node-007",
      "name": "Save Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.joat.studio/n8n/save-posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ client_id: $json.client_id, posts: $json.posts }) }}",
        "options": {}
      }
    },
    {
      "id": "node-008",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1740, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, client_id: $json.client_id, client_name: $json.client_name, total: $json.posts.length, posts: $json.posts }) }}",
        "options": { "responseCode": 200 }
      }
    }
  ],
  "connections": {
    "Webhook":         { "main": [[{ "node": "Fetch Client",      "type": "main", "index": 0 }]] },
    "Fetch Client":    { "main": [[{ "node": "Build Prompt",       "type": "main", "index": 0 }]] },
    "Build Prompt":    { "main": [[{ "node": "Generate Text",      "type": "main", "index": 0 }]] },
    "Generate Text":   { "main": [[{ "node": "Parse Posts",        "type": "main", "index": 0 }]] },
    "Parse Posts":     { "main": [[{ "node": "Generate Images",    "type": "main", "index": 0 }]] },
    "Generate Images": { "main": [[{ "node": "Save Posts",         "type": "main", "index": 0 }]] },
    "Save Posts":      { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "pinData": {}
}
